* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

@media screen and (max-width: 799px)  {}
@media screen and (min-width: 800px)  {
      body {
font-family: Arial, Helvetica, sans-serif; 
margin: 0%;
}


header{
    padding: 25px;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

ul li {
display: inline-block;
padding-left: 100px;
padding-right: 100px;
}

main {
    display: flex;
}

aside {
flex-wrap: wrap;  
background-color: lightgoldenrodyellow;
width: 30%;
display: block;
padding: 1%;
padding-bottom: 10%;
}

p {display: block;}

#code {
    width:100%;
    height:300px;
    opacity: .75;
}

h3 {
    background-color: rgb(104, 167, 206);
    text-align: center;
    right: 50%;
    line-height: 25px;
}

.travelBlog {
    position: relative;
    text-align: center;
    float: right;
    right: 264px;
}

.mywork {
    background-color: lightskyblue;
    content: "";
    clear: both;
    display: table;

}

a {
    color: black;
}

#travel {
    height: 35%;
    width: 25%;
    opacity: .80;
}

#travel:hover {
    height: 45%;
    width: 35%;
    opacity: 1.0;
}

#text{
    position: absolute;
    bottom: 8px;
    left: 470px;
    z-index: 2;
}

.generator {
    position: relative;
    text-align: center;
    float: right;
    left: 224px;
    bottom: 155px;
}

#password{
    position: absolute;
    bottom: 8px;
    left: 520px;
    z-index: 2;
}

footer {
    background-color: lightgoldenrodyellow;
}

}