* ::before ::after {
    
    display: block;
}

body{
    font-family: 'Montserrat', sans-serif, serif;
    width: 100%;
}

.title:hover {
    color: black;    
}

.booktlk {
    padding-bottom: 5vh;
}

p1 {
    font-size: 35px;
}